[submodule "External/vcpkg"]
	path = External/vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "External/vulkan_radix_sort"]
	path = External/vulkan_radix_sort
	url = https://github.com/jaesung-cs/vulkan_radix_sort.git
[submodule "External/ImGuiFileDialog"]
	path = External/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog
[submodule "External/imgui-node-editor"]
    path = External/imgui-node-editor
    url = https://github.com/TamasPetii/imgui-node-editor
[submodule "External/IconFontCppHeaders"]
	path = External/IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders.git
