.xmake/
build/
vsxmake*/
compile_commands.json
Binaries/
Intermediates/
.vs/
*.sln
*.slnx
*.suo
*.user
*.userosscache
*.sln.docstates
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
vcpkg_installed/
.vcpkg-root

CMakeCache.txt
CMakeSettings.json
CMakeLists.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake
install_manifest.txt
*.cmake
compile_commands.json

*.spv
*.cache
*.shadercache
*.compiled
*.cooked

*.nvvp
*.nsight-session
*.log
*.tmp
*.bak
*.swp

Thumbs.db
Desktop.ini
.DS_Store
ehthumbs.db
ehthumbs_vista.db

*.obj
*.o
*.a
*.lib
*.so
*.dylib
*.dll
*.exe
*.pdb
*.exp
*.ilk
*.idb

*.bin
*.data
*.log