.xmake/
build/
vsxmake*/
compile_commands.json

Binaries/
Intermediates/

.vs/
*.sln
*.slnx
*.suo
*.user
*.userosscache
*.sln.docstates
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

vcpkg_installed/
.vcpkg-root

*.log
*.tmp
*.bak
*.swp

Thumbs.db
Desktop.ini
.DS_Store